In [2]:
import pandas as pd 
import numpy as np 
import pymysql
import sqlalchemy 
from  sqlalchemy import create_engine
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="ritumysql"
)

In [4]:
curser = mydb.cursor()

In [5]:
curser.execute("create database Hospital")

In [6]:
df = pd.read_excel(r"C:\Users\acer\Desktop\analysis pipeline\Papollo-Healtcare-Dataset.xlsx")
df.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20 00:00:00,5.0,13234,11910.6
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16 00:00:00,4.0,12241,11016.9
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15 00:00:00,5.0,35255,31729.5
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19 00:00:00,5.0,6582,5923.8
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06 00:00:00,4.9,4567,4110.3

In [ ]:
df.isnull().sum()

In [ ]:
df.info()
df.describe()

In [10]:
engine = create_engine("mysql+pymysql://root:ritumysql@localhost:3306/Hospital")

In [11]:
df.to_sql("Hospital",con=engine,if_exists="append",chunksize=1000)

C:\Users\acer\AppData\Local\Temp\ipykernel_20744\2902940754.py:1: UserWarning: The provided table name 'Hospital' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("Hospital",con=engine,if_exists="append",chunksize=1000)

7157